body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
h1{
    font-size: 3rem;
    color: white;
}
.container{
    height: 50%;
    border: 2px solid white;
    width: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
}
label{
    font-size: 2rem;
    color: white;
}
input{
    font-size: 2rem;
    color: white;
    background-color: rgb(161, 133, 133);
}
img{
    width: 70px;
    height: 100px;
}